.find{
    background-image: url('http://www.baruch.cuny.edu/images/students/basketball.jpg');
    height: 80vh;
    /* width: 300%; */
}
.start{
    background-image: url('https://www.usfa.fema.gov/img/share/college_students.1200x627.jpg');
    height: 80vh;
    /* width: 300%; */
}
.manage{
    background-image: url('https://www.google.com/search?q=uw+students&tbm=isch&tbs=rimg:CRCr3MV60uJfIjgjkMsuIPRledKqZ4iFW3kWtYcdkU3WjXNp5kUeOOj2dUVXyyf9glzyy5tADi6FbCC4_1ptaaEyUuyoSCSOQyy4g9GV5Ed32jvLP-FzbKhIJ0qpniIVbeRYRfDIY6MJdlGYqEgm1hx2RTdaNcxEb-Q7Rbch-MyoSCWnmRR446PZ1Ee6XJLX87tb9KhIJRVfLJ_12CXPIRgBOvGC9gBR0qEgnLm0AOLoVsIBFE_1YphHJmW2SoSCbj-m1poTJS7EboOZO4o288A&tbo=u&sa=X&ved=0ahUKEwiU-567-ZPWAhVU6GMKHWwUAIwQ9C8IHw&biw=1707&bih=816&dpr=1.13#imgrc=Vx8ArP4HBcOtdM:');
    height: 80vh;
    /* width: 300%; */
}